body{
    font-family: 'Raleway', Helvetica;
    overflow-x: hidden !important;
}

.blu-title{
    color: #0054A6; 
    font-family: 'Raleway', Helvetica;
    font-weight: 600;
}

.grey-text{
    font-size: 16px;
    color: #686868;
    font-weight: 300;
}

.title{
    color:#fff;
    font-weight: 600;
    font-size: 2.1rem;
}

.input-tag{
    width: 60%;
    border-radius: 5px;
    padding: 10px;
    margin-top: 5%;
    color: #0054A6;
    font-size: 0.8rem; 
    font-weight: 100;
    border: 2px solid #0054A6;
}

.sign-in-form{
    padding: 3% 2%;
    margin: auto !important;
}

.submit{
    background-color: #0054A6;
    width: 120px;
    padding: 9px 15px;
    border: none;
    color: #fefefe;
    border-radius: 3px;
    margin-top: 8%;
    font-weight: 300;
    cursor: pointer;
    font-size: 0.8rem;
}

.margin-top{
    margin-top: 5% !important;
}

.title-margin-top{
    margin-top: 5% !important;
}

.header-text{
    margin-top: 8%;
    margin-left: 5%;
    width: 40%;
    height: 250px;
    background: white;
    padding-top: 5%;
    border-radius: 5px;
    opacity: 0.93;
    -webkit-box-shadow: 0px 0px 13px 4px rgba(52, 91, 182, 0.75);
    -moz-box-shadow: 0px 0px 13px 4px rgba(52, 91, 182, 0.75);
    box-shadow: 0px 0px 13px 4px rgba(52, 91, 182, 0.75);
}

.header-title{
    font-size: 2.0rem;
    padding-top: 2%;
    color: #007BF2;
}

.header-sub-title{
    font-size: 2.0rem;
    color: #707070;
}

.title-desc{
    margin: auto;
}

.title-desc p{
    width: 70%;
    margin: auto;
}

.title-lines{
    width: 90px;
    margin-top: -1%;
    height: 20px;
    height: 3px;
    border: none;
    background-color: #345bb6;
}

.service-cards-holder{
    margin-top: 10%;
}

.title-line {
    width: 30px;
    margin-top: 1%;
    height: 20px;
    height: 5px;
    border: none;
    background-color: #99d8dd;
}

.text-center{
    text-align: center;
}

.bold{
    font-weight: 700;
}

.logo{
    margin-left: 3%;
    margin-top: 5px;
    
}

.logo img{
    height: 58px;
    width: 208px
}

a{
    text-decoration: none !important;
}

.text-container{
    padding: 3% !important; 
    margin-top: 3% !important;  
}

.right{
    padding: 2% 0 !important;
}

.line, .shorter-line{
    border: none;
    background-color: #686868;
    height: 1px;
}

.shorter-line{
    width: 20%;
}

.blue{
    color: #0054A6;
}

.landing-par{
    width: 70%;
    margin: auto;
}

.logo{
    height: 80px !important;
}

.bg-container{
    background-image: url('./bg.svg');
    background-size: cover;
}

.layer{
    background-color: rgb(229,229,229, 0.5); 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.row{
    top: 0;
    left: 0;
    height: 820px;
    overflow-x: hidden !important;
}

nav{
    width: 100%;
    position: relative;
    display: flex !important;
    justify-content: space-between;
    font-family: 'Raleway', Helvetica;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);    
}

#nav-list {
    list-style: none;
    width: -moz-available;
    display: flex;
    justify-content: flex-end;
    margin: 1% 3%; 
}

.nav-links{
    text-decoration: none;
    color: white !important;
    font-weight: 400 !important;
}

.nav-links:hover{
    color: rgb(52, 91, 182);
}

#nav-buttons {
    width: -moz-available;
    display: flex;
    width: -moz-fit-content;
    justify-content: flex-end;
    min-width: 30%;
    margin-top: 2%;
}

